# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.pyc
*.pyo
*.egg
/build/
/dist/
/doc/build/output/
/dogpile_data/
*.orig
*,cover
/.tox
.venv
*.egg-info
.coverage
coverage.xml
.*,cover
*.class
*.so
*.patch
sqlnet.log
/mapping_setup.py
/test.py
/.cache/
*.sw[o,p]
.cache